<div class="wrapper">
  <div class="container">

    <h1>Flats of my appppp</h1>
    <% if Flat.count != @flats.count %>
      <% if @flats.count.zero? %>
        <p>We haven't found any flats matching your search.</p>
      <% elsif @flats.count == 1 %>
        <p>We found <%= @flats.count %> flat.</p>
      <% else %>
        <p>We found <%= @flats.count %> flats.</p>
      <% end %>
    <% end %>



    <div class="row">
      <% @flats.each do |flat| %>
          <%= link_to(flat_path(flat), class:"card-link") do %>
              <h4><%= flat.name %></h4>
              <div class="card-content">
                <p><%= flat.address %></p>
                <p><strong><%= flat.description %></strong></p>
                <div class="price-guests">
                  <p><%= flat.price_per_night %> </p>
                  <p><%= flat.number_of_guests %> </p>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>



  </div>
</div>
